<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Crypto Invoice Payment System">
  <meta name="author" content="Ronaldo Rigoni">

  <title>BTC Invoice System</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">Crypto Invoice System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Invoices
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="wallet.html">Wallet</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container" ng-controller="InvoiceController" ng-app="invoice">

  <div class="container">
    <div class="row">
      <div class="col-12">

        <section class="jumbotron">
          <h1>Invoices</h1>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Description</th>
              <th>Created</th>
              <th>Total Paid</th>
              <th>Total</th>
              <th>CoinType</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="inv in invoices">
                <td>{{inv.id}}</td>
                <td>{{inv.description}}</td>
                <td>{{inv.createdAt}}</td>
                <td>{{inv.cryptoPaidAmount}}</td>
                <td>{{inv.cryptoAmout}}</td>
                <td>{{inv.coinType}}</td>
                <td>{{inv.status}}</td>
                <td>
                  <button type="button" class="btn btn-danger" ng-show="inv.status != 'PAID' " ng-click="payInvoice(inv)">Pay</button>
                  <button type="button" class="btn btn-light" ng-click="showInvoice(inv)">View</button>
                </td>

              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-12">
              <button type="button" class="btn btn-primary float-left" ng-click="newInvoice()">New Invoice</button>
            </div>
          </div>

        </section>

      </div>

    </div>


    <!-- Forms -->


    <!-- Invoice Form -->
    <div class="col-12" ng-show="state == 'new'">


      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="description" aria-label="description" ng-model="invoice.description" aria-describedby="basic-addon1">
      </div>

      <section class="row">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in invoice.items">
            <td><input type="text" ng-model="item.name" class="form-control" /></td>
            <td><input type="text" ng-model="item.description" class="form-control" /></td>
            <td><input type="number" ng-model="item.qty" class="form-control" /></td>
            <td><input type="number" ng-model="item.price" class="form-control" /></td>
            <td>{{item.qty * item.price}} Satoshis</td>
            <td><button type="button" class="btn btn-danger" ng-click="remove($index)">Delete</button></td>
          </tr>
          <tr>
            <td><button type="button" class="btn btn-primary" ng-click="add()">Add item</button></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total : </td>
            <td>{{total()}} Satoshis</td>
          </tr>
          </tbody>
        </table>
      </section>

      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-primary float-right" ng-click="save()">Save Invoice</button>
          <button type="button" class="btn btn-primary float-right" ng-click="state = 'list' ">Cancel</button>
        </div>
      </div>

    </div>


    <!-- Invoice payment -->


    <div class="row" ng-show="displayInvoice != null && isPaying">
      <div class="col-12 text-center">

        <div class="container">
          <div class="card">
            <div class="card-header">
              Invoice
              <strong>{{displayInvoice.createdAt}}</strong>
              <span class="float-right"> <strong>Status:</strong> {{displayInvoice.status}}</span>

            </div>
            <div class="card-body">
              <div class="row mb-4">
                <div class="col-sm-6">
                  <h6 class="mb-3">From:</h6>
                  <div>
                    <strong>Webz Poland</strong>
                  </div>
                </div>

                <div class="col-sm-6">
                  <h6 class="mb-3">To:</h6>
                  <div>
                    <strong>{{displayInvoice.address}}</strong>
                  </div>
                </div>

              </div>



              <table class="table table-clear table-responsive-sm">
                <tbody>
                <tr>
                  <td class="left">
                    <strong>Subtotal</strong>
                  </td>
                  <td class="right">{{displayInvoice.cryptoAmout}}</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Total Paid</strong>
                  </td>
                  <td class="right">{{displayInvoice.cryptoPaidAmount}}</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Total</strong>
                  </td>
                  <td class="right">
                    <strong>{{displayInvoice.cryptoAmout}}</strong>
                  </td>
                </tr>
                </tbody>
              </table>


                <div class="table-responsive-sm">

                    <h4>Transactions</h4>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Receiving Address</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="tx in displayInvoice.transactions">
                                <td class="center">{{tx.receivingAddress}}</td>
                                <td class="left strong">{{tx.cryptoAmount}}</td>
                                <td class="left">{{tx.createdAt}}</td>
                                <td class="left">{{tx.status}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

              <img ng-show="displayInvoice.status != 'PAID' " src="/qrcode/{{displayInvoice.address}}" width="400px" height="400px">
              

            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Invoice View -->

    <div class="row" ng-show="displayInvoice != null && isPaying == false">
      <div class="col-12 text-center">

        <div class="container">
          <div class="card">
            <div class="card-header">
              Invoice
              <strong>{{displayInvoice.createdAt}}</strong>
              <span class="float-right"> <strong>Status:</strong> {{displayInvoice.status}}</span>

            </div>
            <div class="card-body">
              <div class="row mb-4">
                <div class="col-sm-6">
                  <h6 class="mb-3">From:</h6>
                  <div>
                    <strong>**********</strong>
                  </div>
                </div>

                <div class="col-sm-6">
                  <h6 class="mb-3">To:</h6>
                  <div>
                    <strong>{{displayInvoice.address}}</strong>
                  </div>
                </div>

              </div>


              <div class="table-responsive-sm">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Total</th>
                  </tr>
                  </thead>
                  <tbody>

                  <tr ng-repeat="item in displayInvoice.items">
                    <td class="center">{{item.name}}</td>
                    <td class="left strong">{{item.description}}</td>
                    <td class="left">{{item.qty}}</td>
                    <td class="center">{{item.price}}</td>
                    <td class="right">{{item.qty * item.price}} BTC</td>
                  </tr>

                  </tbody>
                </table>
              </div>



                <div class="table-responsive-sm">

                    <h4>Transactions</h4>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Receiving Address</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="tx in displayInvoice.transactions">
                                <td class="center">{{tx.receivingAddress}}</td>
                                <td class="left strong">{{tx.cryptoAmount}}</td>
                                <td class="left">{{tx.createdAt}}</td>
                                <td class="left">{{tx.status}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



              <div class="row">

                <div class="col-lg-4 col-sm-5 ml-auto">
                  <table class="table table-clear">
                    <tbody>
                    <tr>
                      <td class="left">
                        <strong>Subtotal</strong>
                      </td>
                      <td class="right">{{displayInvoice.cryptoAmout}}</td>
                    </tr>
                    <tr>
                      <td class="left">
                        <strong>Total Paid</strong>
                      </td>
                      <td class="right">{{displayInvoice.cryptoPaidAmount}}</td>
                    </tr>
                    <tr>
                      <td class="left">
                        <strong>Total</strong>
                      </td>
                      <td class="right">
                        <strong>{{displayInvoice.cryptoAmout}}</strong>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


  </div>


  <script type="text/javascript" src="js/invoice.js"/>

</div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>